input {
    width: 300px;
}

.row {
    display: flex; 
  justify-content: space-between; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
}

#weather-info {
    text-align: center;
    color: yellow;
    
}

#previous-city-list {
    width: 50px; 
}

.list-group {
    display: inline-table;
    border-style: solid;
    border-color: skyblue;
    margin-left: 20px;
    overflow-y: auto
}

#forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}

.card {
    background-color: yellow;
    color: blue;
    margin-right: 10px;
}

.col-lg-4 {
    flex-basis: 30%; 
  }